:{$PORT} {
    handle /api/* {
        reverse_proxy https://grado-workspaceapi-server-production.up.railway.app
    }
    handle {
        root * /app/artifacts/grado/dist/public
        file_server
        try_features {path} /index.html
    }
}
