:{$PORT} {
    handle /api/* {
        reverse_proxy {$API_URL} {
            transport http {
                tls_insecure_skip_verify
            }
        }
    }
    handle {
        root * /app/artifacts/grado/dist/public
        file_server
        try_files {path} /index.html
    }
}
